<!-- <form [formGroup]="formularioGroup" *ngIf="formularioGroup.value">
    <div class="container">
        <div class="mb-3 row">
            <label for="nombreDieta" class="form-label col-sm-3">Nombre de la Dieta</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="nombreDieta" id="nombreDieta">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="fechaCreacion" class="form-label col-sm-3">Fecha de carga</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="fechaCreacion" id="fechaCreacion">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="observacion" class="form-label col-sm-3">Observaciones</label>
            <div class="col-sm-9">
                <textarea class="form-control" formControlName="observacion" id="observacion"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="alimento" class="form-label col-sm-3">Alimento</label>
            <div class="col-sm-6 d-flex">
                <select class="form-select flex-grow-1" [(ngModel)]="selectedItem" formControlName="alimento">
                    <option *ngFor="let alimento of listaAlimentos" [ngValue]="alimento">
                        {{ alimento.nombreAlimento }}
                    </option>
                </select>
                <div class="col-3 d-flex align-items-center">
                    <button class="btn btn-secondary btn-lg" (click)="onSelection(selectedItem)">
                        <i class="bi bi-plus-square"></i>
                    </button>
                </div>

            </div>
            <p>{{selectedItem.idAlimento}}</p>
            <p>{{selectedItem.nombreAlimento}}</p>
        </div>
        <div class="mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>IdAlimento</th>
                        <th>Alimento</th>
                        <th>Porcentaje</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of listaAlimentosSel; let i = index">
                        <td>{{ detalle.idAlimento }}</td>
                        <td>{{ detalle.nombreAlimento }}</td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="porcentaje"
                                formControlName="porcentaje" name="porcentaje{{i}}">
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="insertarDetalle(detalle, porcentaje, i)">
                                <i class="bi bi-plus"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="eliminarDetalle(detalle)">
                                <i class="bi bi-x"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</form> -->

<h1 class="display-4 font-weight-bold text-center text-muted mb-5">
  Registrar dieta
</h1>

<form [formGroup]="formularioGroup" *ngIf="formularioGroup.value">
  <div class="container" style="text-align: right;">
    <!-- ... -->
    <div class="row" style="justify-content: center;">
       <!-- Espacio de margen izquierdo -->

      <div class="col-sm-6"> <!-- Columnas principales del formulario con borde -->
        <div class="border p-4 rounded row" style="justify-content: center;">
          <div class="mb-3 row" >
            <label for="nombreDieta" class="form-label col-sm-4 text-right col-form-label">Nombre de la Dieta </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombreDieta" formControlName="nombreDieta">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="fechaCreacion" class="form-label col-sm-4 text-right col-form-label">Fecha de Creación</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="fechaCreacion" formControlName="fechaCreacion">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="observacion" class="form-label col-sm-4 text-right col-form-label">Observación </label>
            <div class="col-sm-8">
              <textarea class="form-control" id="observacion" formControlName="observacion"></textarea>
            </div>
          </div>
        </div>


    
        <div formArrayName="detallesDieta">
          <div *ngFor="let detalle of detallesDietaArray.controls; let i = index" >
            <br>
            <div class="border p-4 rounded row" style="justify-content: center;" [formGroupName]="i">
              <div class="mb-3 row">
                <label class="form-label col-sm-4 text-right col-form-label" for="idAlimento">Alimento </label>
                <div class="col-sm-8">
                  <select class="form-select" id="idAlimento" formControlName="idAlimento">
                    <option [ngValue]="alimento.idAlimento" *ngFor="let alimento of listaAlimentos">{{
                      alimento.nombreAlimento }}</option>
                  </select>
                </div>
                
              </div>
              <div class="mb-3 row">
                <label class="form-label col-sm-4 text-right col-form-label" for="porcentaje">Porcentaje (%) </label>
                <div class="col-sm-8">
                <input type="number" class="form-control" id="porcentaje" formControlName="porcentaje">
              </div>
              </div>
              <div class="col-sm-2" style="justify-content: center;">
                <button type="button" class="btn btn-danger" (click)="eliminarDetalle(i)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row mb-3">
          <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="agregarDetalle()">Agregar Alimento</button>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-12">
            <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>