<h1 class="display-4 font-weight-bold text-center text-muted mb-5">
    Consultar movimientos por fechas
</h1>
<div class="container">
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-3">
            <input type="date" class="form-control" [(ngModel)]="fechaInicio">
        </div>
        <div class="col-3">
            <input type="date" class="form-control" [(ngModel)]="fechaFin">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" (click)="cargarStock()">Buscar</button>
        </div>
        <div class="col-2"></div>
    </div>
    <!-- <input type="text" class="form-control" name="filterUsuarios" placeholder="Buscar Usuario..." [(ngModel)]="filterUsuarios"> -->
</div>
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <table id="listado" class="table table-hover text-center">
            <thead class="encabezado">
                <tr class="text-muted text-center border-bottom border-success">
                    <th scope="col">#</th>
                    <th scope="col">Tipo de movimiento</th>
                    <th scope="col">Alimento</th>
                    <th scope="col">Fecha de registro</th>
                    <th scope="col">Toneladas</th>
                    <th scope="col">Precio de tonelada</th>


                </tr>
            </thead>
            <tbody>
                <tr class=" text-center border-bottom border-success" *ngFor="let stock of listaStockPorFechas |  paginate: { itemsPerPage: 5, currentPage: page }">
                    <!-- <th scope="row">{{stock.idLote}}</th> -->
                    <td scope="row">
                        {{stock.idLote}}
                        <i [ngStyle]="{'color': isArrowDown(stock.tipoMovimiento) ? 'red' : 'green'}" class="bi"
                            [ngClass]="{'bi-arrow-down-circle-fill': isArrowDown(stock.tipoMovimiento), 'bi-arrow-up-circle-fill': isArrowUp(stock.tipoMovimiento)}"></i>
                    </td>
                    <td>{{ stock.tipoMovimiento }}</td>
                    <td>{{ stock.alimento }}</td>
                    <td>{{ formatFechaIngreso(stock.fechaRegistro) }}</td>
                    <td class="text-right">{{ stock.toneladas | customNumber }}</td>
                    <td class="text-right">${{ stock.precioTonelada | customNumber }}</td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
    <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"></pagination-controls>



</div>

<div>

</div>