.encabezado {
  background-color: #68d6b6;
}

.center-header {
  text-align: center;
}

.text-right {
  text-align: right;
}

.arrow-up {
  color: green; /* color verde para la flecha hacia arriba */
}

.arrow-down {
  color: red; /* color rojo para la flecha hacia abajo */
}