<!-- Bootstrap Static Header -->

<!-- Agregar ng-content con bandera de usuario autenticado -->
<div class="ng-content" *ngIf="logueado">


  <div class="sidebar-nav">
    <nav class="navbar navbar-dark fixed-top">
      <div class="container">
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menus List -->
        <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel" style="position: fixed;">

          <div class="offcanvas-body">
            <div routerLink="home" class="btn-group2 d-flex align-items-center"
              style="margin-top: 20px; margin-bottom: 20px;">
              <a class="text-dark text-decoration-none" aria-expanded="false">
                <span class="logoicon">
                  <i>
                    <img routerLink="home" width="40px" height="40px" src="../../../assets/Imagenes/LogoFinal.png"
                      alt="">
                  </i>
                </span>
                <span routerLink="home" class="textnone" style="padding-left: 6px;"> Farm&FoodNutricion</span>
              </a>
            </div>
            <ul class="navbar-nav">

              <!-- MENU DIETAS -->
              <div>
                <div class="accordion accordion-flush" id="accordionFlushExample2">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <i class="bi bi-basket3-fill"></i> <span class="text-white">Dietas</span>
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample2">
                      <div class="accordion-body">
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="alimentos" href="#"><span
                              class="item-text ">Registrar
                              alimento</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="registrarDieta" ref="#"><span
                              class="item-text ">Registrar
                              dieta</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="consultarDieta" href="#"><span
                              class="item-text ">Consultar
                              dieta</span></a></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- MENU ALIMENTACION -->
              <div *ngIf="banderaAdm || banderaOpe">
                <div class="accordion accordion-flush" id="accordionFlushExample3">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <i class="bi bi-calendar-heart-fill"></i> <span class="text-white">Alimentación</span>
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample3">
                      <div class="accordion-body">
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="planificarAli" href="#"><span
                              class="item-text ">Planificar alimentación</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="registrarAli" href="#"><span
                              class="item-text ">Registrar alimentación</span></a></li>
                              <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" routerLink="consultarPlani" href="#"><span
                                  class="item-text ">Consultar planificación</span></a></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- MENU TRATAMIENTO -->
              <div >
                <div class="accordion accordion-flush" id="accordionFlushExample4">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <i class="bi bi-bandaid-fill"></i> <span class="text-white">Tratamientos</span>
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample4">
                      <div class="accordion-body">
                        <li *ngIf="banderaAdm || banderaVet"><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="registrarTrat" href="#"><span
                              class="item-text ">Registrar tratamiento</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="consultarTrat" href="#"><span
                              class="item-text ">Consultar tratamientos</span></a></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- MENU LOTES -->
              <div>
                <div class="accordion accordion-flush" id="accordionFlushExample6">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <i class="bi bi-collection-fill"></i> <span class="text-white">Lotes</span>
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample6">
                      <div class="accordion-body">
                        <li *ngIf="banderaAdm || banderaOpe"><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="registrarLotes" href="#"><span
                              class="item-text ">Agregar lote</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="listaLotes" href="#"><span
                              class="item-text ">Consultar lotes</span></a></li>
                        <li *ngIf="banderaAdm || banderaOpe"><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="consultarLotes" href="#"><span
                              class="item-text ">Actualizar lotes</span></a></li>
                        <!-- <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" routerLink="egresarLotes" href="#"><span class="item-text ">Egreso de lotes</span></a></li> -->
                        <li *ngIf="banderaAdm || banderaOpe"><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="quitarAnimales" href="#"><span
                              class="item-text ">Quitar animales</span></a></li>
                        <!-- <li><a class="list-group-item dropdown-item" routerLink="modificarLotes" href="#"><span class="item-text ">Modificar lote</span></a></li> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- MENU STOCK -->
              <div *ngIf="banderaAdm || banderaOpe">
                <div class="accordion accordion-flush" id="accordionFlushExample7">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        <i class="bi bi-bag-plus-fill"></i> <span class="text-white">Stock alimentos</span>
                      </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample7">
                      <div class="accordion-body">
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="registrarStock" href="#"><span
                              class="item-text ">Registrar stock</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="consultarStock" href="#"><span
                              class="item-text ">Consultar stock</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="registrarMov" href="#"><span
                              class="item-text ">Registrar movimiento</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="consultarMov" href="#"><span
                              class="item-text ">Consultar movimiento</span></a></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- MENU REPORTES -->
              <div *ngIf="banderaAdm || banderaOpe">
                <div class="accordion accordion-flush" id="accordionFlushExample8">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        <i class="bi bi-bar-chart-line-fill"></i> <span class="text-white">Reportes</span>
                      </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample8">
                      <div class="accordion-body">
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="reportStackBarAni" href="#"><span
                              class="item-text ">Animales disponibles</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="reportCardPeso" href="#"><span
                              class="item-text ">Peso animales</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="reportLineIngreso" href="#"><span
                              class="item-text ">Ingreso animales</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="reportListAliNecesario" href="#"><span
                              class="item-text ">Stock necesario</span></a></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- MENU USUARIOS -->
              <div *ngIf="banderaAdm">
                <div class="accordion accordion-flush" id="accordionFlushExample1">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="bi bi-person-fill link"></i> <span class="text-white">Usuarios</span>
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                      <div class="accordion-body">
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" href="#" routerLink="crearUsu"><span
                              class="item-text ">Registrar
                              usuario</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" href="#" routerLink="consultarUsu"><span
                              class="item-text ">Consultar
                              usuarios</span></a></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PREGUNTAS FRECUENTES -->
              <div>
                <div class="accordion accordion-flush" id="accordionFlushExample9">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        <i class="bi bi-question-octagon-fill "></i> <span class="text-white">Acerca de</span>
                      </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse link"
                      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample9">
                      <div class="accordion-body">
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="preguntas" href="#"><span
                              class="item-text ">Preguntas frecuentes</span></a></li>
                        <li><a class="list-group-item dropdown-item" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" routerLink="terminos" href="#"><span
                              class="item-text ">Términos y condiciones</span></a></li>
                        <!-- <li><a class="list-group-item dropdown-item" href="#"><span class="item-text ">Ingreso animales</span></a></li>
                      <li><a class="list-group-item dropdown-item" href="#"><span class="item-text ">Stock necesario</span></a></li> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </ul>
          </div>
        </div>

        <!-- <div >
          <span class="usericon"><img width="30px" height="30px" src="../../../assets/Imagenes/LogoFinal.png"></span>
          <span class="textnone text-white text-decoration-none">Farm&FoodNutricion</span>
        </div> -->

        <!-- En tu archivo de plantilla Angular -->
        <div class="btn-group2 d-flex align-items-center">
          <a class="text-white text-decoration-none" aria-expanded="false">
            <span class="logoicon">
              <i>
                <img width="40px" height="40px" src="../../../assets/Imagenes/LogoFinal.png" alt="">
              </i>
            </span>
            <span class="textnone" style="padding-left: 6px;"> Farm&FoodNutricion</span>
          </a>
        </div>

        <div class="btn-group">
          <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="usericon"><i class="bi bi-person-circle"></i></span>
            <span class="textnone">{{user.usuario1}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <!-- <li><button class="dropdown-item" type="button"><i class="bi bi-lock-fill"></i> Change Password</button></li>
            <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Admin Setion</button></li> -->
            <li class="dropdown-item" type="label"><a>Rol: {{user.rol}}</a></li>
            <li class="dropdown-item" type="label"><a routerLink="cambiarPass">Cambiar contraseña</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li (click)="logOut()"><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i>
                Cerrar sesión</button></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
  <!-- CONTENEDOR DE LA PAGINA -->
  <div class="container mx-auto container-form">
    <router-outlet></router-outlet>
  </div>

</div>


<ng-template #noPermisos>
  <!-- Mensaje para usuario sin permisos -->
  <div class="container text-center mt-5">
    <h2>No tienes los permisos necesarios para ver esta página.</h2>
  </div>
</ng-template>