<h1 class="display-4 font-weight-bold text-center text-muted mb-5">
    Registrar tratamiento
</h1>

<!-- CONTENEDOR DE LA PAGINA -->

<div class="container" style="text-align: right;">
    <div class="row">
        <div class="col-sm-3"></div> <!--Espacio de margen izquierdo-->

        <div class="col-sm-6"> <!-- Columnas principales del formulario con borde -->
            <div class="border p-4 rounded mx-auto border-dark">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio-lote"
                                value="lote" [(ngModel)]="selectedOption">
                            <label class="form-check-label" for="radio-lote">
                                Tratamiento por lote
                            </label>
                        </div>
                        <!-- <input type="radio" id="radio-lote" name="radio-group" value="lote" [(ngModel)]="selectedOption">
                        <label for="radio-lote">Tratamiento por lote</label> -->
                    </div>
                    <br>
                    <div class="col-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio-animal"
                                value="animal" [(ngModel)]="selectedOption">
                            <label class="form-check-label" for="radio-animal">
                                Tratamiento por animal
                            </label>
                        </div>
                        <!-- <input type="radio" id="radio-animal" name="radio-group" value="animal" [(ngModel)]="selectedOption">
                        <label for="radio-animal">Tratamiento por animal</label> -->
                    </div>
                    <div class="col-1"></div>
                </div>


                <br>
                <form [formGroup]="formularioGroup" *ngIf="formularioGroup.value">

                    <div class="container">
                        <div class="mb-2 row" *ngIf="selectedOption === 'lote'">
                            <label for="id_lote" class="form-label col-sm-5 text-right col-form-label">Id de lote</label>
                            <div class="col-xl-5">
                                <input type="text" class="form-control" formControlName="Id" id="Id">
                            </div>
                        </div>

                        <div class="mb-2 row" *ngIf="selectedOption === 'animal'">
                            <label for="id_lote" class="form-label col-sm-5 text-right col-form-label">Id de animal</label>
                            <div class="col-xl-5">
                                <input type="text" class="form-control" formControlName="Id" id="Id">
                            </div>
                        </div>

                        <br>

                        <div class="mb-2 row">
                            <label for="idTipoTrat" class="form-label col-sm-5 text-right col-form-label">Tipo de tratamiento</label>
                            <div class="col-xl-5">
                                <select class="form-select" id="idTipoTrat" formControlName="idTipoTrat">
                                    <option *ngFor="let tipoTrat of listaTiposTrat"
                                        [value]="tipoTrat.idTipoTratamiento">
                                        {{ tipoTrat.descripcion }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="mb-2 row">
                            <label for="medicacion" class="form-label col-sm-5 text-right col-form-label">Medicación</label>
                            <div class="col-xl-5">
                                <input type="text" class="form-control" formControlName="medicacion" id="medicacion">
                            </div>

                        </div>

                        <br>
                        <div class="mb-2 row">
                            <label for="fechaInicio" class="form-label col-sm-5 text-right col-form-label">Fecha inicio</label>
                            <div class="col-xl-5">
                                <input type="date" class="form-control" formControlName="fechaInicio" id="fechaInicio">
                            </div>

                        </div>
                        <br>
                        <div class="mb-2 row">
                            <label for="fechaFin" class="form-label col-sm-5 text-right col-form-label">Fecha fin</label>
                            <div class="col-xl-5">
                                <input type="date" class="form-control" formControlName="fechaFin" id="fechaFin">
                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="row mt-4 text-center">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
                        </div>

                    </div>
                </form>
            </div>
             <div class="col-sm-3"></div> <!--Espacio de margen derecho -->
        </div>
    </div>
</div>
