<div class="container text-center">
    <h1 class="display-4 font-weight-bold text-muted mb-5">Actualizar lotes</h1>
  </div>
<h3 class="text-center">Gestión de lotes</h3>
<br>
<div class="container">
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-3">
            <input type="date" class="form-control" [(ngModel)]="fechaInicio">
        </div>
        <div class="col-3">
            <input type="date" class="form-control" [(ngModel)]="fechaFin">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" (click)="cargarLotes()">Buscar</button>
        </div>
        <div class="col-2"></div>
    </div>
    <!-- <input type="text" class="form-control" name="filterUsuarios" placeholder="Buscar Usuario..." [(ngModel)]="filterUsuarios"> -->
</div>
<br>
<div class="row">
    <div class="">
        <table id="listado" class="table table-hover text-center">
            <thead class="encabezado">
                <tr class="text-muted text-center border-bottom border-success">
                    <th scope="col" data-sortable="true">#</th>
                    <th scope="col" data-sortable="true">Fecha Ingreso</th>
                    <th scope="col" data-sortable="true" >Finalidad</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Edad en meses</th>
                    <th scope="col">Cantidad de animales</th>
                    <th scope="col">Peso ingreso</th>
                    <th scope="col">Cantidad de bajas</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr class=" text-center border-bottom border-success" *ngFor="let lote of listaLotes |  paginate: { itemsPerPage: 10, currentPage: page }">
                    <th scope="row">{{lote.idLote}}</th>
                    <td>{{ formatFechaIngreso(lote.fechaIngreso)  }}</td>
                    <td>{{ lote.finalidad }}</td>
                    <td>{{ lote.especie }}</td>
                    <td>{{ lote.raza }}</td>
                    <td class="text-right">{{ lote.edadMeses| customNumber }}</td>
                    <td class="text-right">{{ lote.cantidadActual| customNumber }}</td>
                    <td class="text-right">{{ lote.pesoIngreso| customNumber }}</td>
                    <td class="text-right">{{ lote.cantidadBajas | customNumber}}</td>
                    <td>
                        <button class="btn btn-primary">
                            <i class="bi bi-pencil-fill" [routerLink]="['/modificarlote', lote.idLote] " (click)="mostrarComponente()"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="bi bi-trash-fill" (click)="eliminarLote(lote.idLote)"></i>
                        </button>
                        <button class="btn btn-primary">
                            <i class="bi bi-arrow-right" [routerLink]="['/egresarLotes', lote.idLote] " (click)="mostrarComponente()"></i>
                        </button>
                        <!-- <button class="btn btn-primary"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-danger"><i class="bi bi-trash"></i></button> -->

                        <!-- <button type="button" class="btn btn-primary"
                            [routerLink]="['/modificarlote', lote.idLote]">Editar</button>
                        <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square"
                                aria-hidden="true"></i></button>
                        <i class="bi bi-pencil"></i>
                        <button><i class="fa fa-trash"></i></button> -->
                        <!-- <button type="button" class="btn btn-outline-secondary" (click)="modificarLote(lote)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                                </path>
                            </svg>
                            <span class="visually-hidden" (click)="modificarLote(lote)">Button</span>
                        </button> -->

                        <!-- <i class="bi bi-pencil" [routerLink]="['/modificarlote', lote.idLote]"></i> -->

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"></pagination-controls>

    

</div>

<div>
    <app-modificar-lote *ngIf="mostrarModificarLote"></app-modificar-lote>
<br>
</div>