<div class="faq-item">
    <h4 (click)="desplegar()" class="faq-question">1. ¿Cómo puedo registrar un nuevo usuario?</h4>
    <div *ngIf="show" class="faq-answer">
      <p>
        Para registrar un nuevo usuario en el sistema, sigue los siguientes pasos:
      </p>
      <ol>
        <li>Inicia sesión en tu cuenta de usuario. Recuerda que debes tener un perfil administrador</li>
        <li>Accede a la sección de "Gestión de usuarios".</li>
        <li>Haz clic en el botón "Crear usuarios".</li>
        <li>Rellena los campos requeridos con la información del usuario, como datos personales, correo electronico, usuario y contraseña.</li>
        <li>Guarda los cambios realizados y el nuevo usuario quedará registrado en el sistema.</li>
      </ol>
    </div>
  </div>
  <div class="faq-item">
    <h4 (click)="desplegar()" class="faq-question">2. ¿Qué sucede si el usuario olvidó su clave?</h4>
    <div *ngIf="show" class="faq-answer">
      <p>
        Para registrar un nuevo usuario en el sistema, sigue los siguientes pasos:
      </p>
      <ol>
        <li>Inicia sesión en tu cuenta de usuario. Recuerda que debes tener un perfil administrador</li>
        <li>Accede a la sección de "Gestión de usuarios".</li>
        <li>Haz clic en el botón "Crear usuarios".</li>
        <li>Rellena los campos requeridos con la información del usuario, como datos personales, correo electrónico, usuario y contraseña.</li>
        <li>Guarda los cambios realizados y el nuevo usuario quedará registrado en el sistema.</li>
      </ol>
    </div>
  </div>


  
  
  
