<!-- <br>
<h3>Listado de Usuarios</h3>
<br> -->

<h1 class="display-4 font-weight-bold text-center text-muted mb-5">
  Consultar Usuarios
</h1>

<div class="container col-4">
  <input type="text" class="form-control" name="filterUsuarios" placeholder="Buscar Usuario..."
    [(ngModel)]="filterUsuarios">
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table id="listado" class="table table-hover text-center">
        <thead class="encabezado">
          <tr class="text-muted text-center border-bottom border-success">
            <th scope="col" class="col-3">Nombre y Apellido</th>
            <th scope="col" class="col-3">Usuario</th>
            <th scope="col" class="col-3">Email</th>
            <th scope="col" class="col-2">Rol</th>
            <!-- <th scope="col">Descuento</th> -->
            <!-- <th scope="col">Cantidad Disponible</th> -->
            <!-- <th scope="col">Sucursal</th> -->
          </tr>
        </thead>
        <tbody>

          <tr class=" text-center border-bottom border-success" *ngFor="let user of users | filter: filterUsuarios |  paginate: { itemsPerPage: 5, currentPage: page }">


            <td>{{ user.nombreApellido }}</td>
            <td>{{ user.nombreUsuario }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.rol }}</td>


          </tr>
        </tbody>

        <tbody>

        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
  <pagination-controls class="text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"></pagination-controls>
</div>