

<body>
  <h1>Términos y Condiciones del Software de Gestión de Alimentación de Animales de Campo</h1>

  <h2>1. Descripción del Software</h2>
  <p>El Software de Gestión de Alimentación de Animales de Campo tiene como objetivo brindar información sobre la gestión de
    la alimentación de los animales de campo para maximizar su salud, bienestar y productividad, y contribuir a la toma de
    decisiones para reducir los costos y el desperdicio de recursos.</p>

  <h2>2. Uso del Software</h2>
  <h3>2.1 Registro de Cuentas</h3>
  <p>El acceso y uso de ciertas funcionalidades del software puede requerir el registro y creación de una cuenta de usuario.
    Al registrarte, garantizas que la información proporcionada es precisa, completa y actualizada. Tú eres responsable de
    mantener la confidencialidad de tus credenciales de inicio de sesión y de todas las actividades realizadas en tu
    cuenta.</p>

  <h3>2.2 Responsabilidades del Usuario</h3>
  <p>El usuario comprende y acepta que el Software de Gestión de Alimentación de Animales de Campo es una herramienta de
    apoyo y no reemplaza el juicio y experiencia del usuario. Es responsabilidad del usuario seguir las recomendaciones y
    pautas proporcionadas por el software de manera adecuada y responsable.</p>

  <h2>3. Propiedad Intelectual</h2>
  <p>El Software de Gestión de Alimentación de Animales de Campo y todos sus componentes (incluyendo, pero no limitado a,
    diseño, texto, gráficos, logotipos, imágenes y software) son propiedad exclusiva del titular del software y están
    protegidos por leyes de propiedad intelectual. Queda prohibida cualquier reproducción, distribución, modificación o uso
    no autorizado del software sin el consentimiento expreso por escrito del titular.</p>

  <h2>4. Privacidad y Protección de Datos</h2>
  <p>El software recopilará y procesará información personal de acuerdo con nuestra Política de Privacidad. Al utilizar el
    software, aceptas el tratamiento de tus datos personales conforme a nuestra Política de Privacidad.</p>

  <h2>5. Limitación de Responsabilidad</h2>
  <p>El usuario comprende y acepta que el Software de Gestión de Alimentación de Animales de Campo se proporciona "tal
    cual" y el titular del software no ofrece garantías de ningún tipo en cuanto a su rendimiento, precisión, confiabilidad
    o idoneidad para un propósito particular. En ningún caso, el titular del software será responsable por cualquier daño
    directo, indirecto, incidental, especial o consecuente derivado del uso o la imposibilidad de uso
