<div class="container text-center">
    <h1 class="display-4 font-weight-bold text-muted mb-5">BIENVENIDOS A FARM&FOODNUTRICION</h1>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h1 class="font-weight-light display-4">¿Quiénes Somos?</h1>
          <p class="font-italic text-muted mb-4"> <b>Farm&FoodNutricion</b>  
            es una empresa dedicada a la venta de medicamentos y perfumería a usuarios particulares y clientes con obras sociales. 
            Cuenta con 3 sucursales ubicadas estratégicamente en zona norte, zona sur y centro de la ciudad de Córdoba, donde cada 
            una de ellas posee su propio depósito.
          </p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../../assets/mapa.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Nuestro Objetivo</h1>
          <p class="lead text-muted mb-0">Brindar información para la gestión de venta de productos de farmacia a usuarios particulares y con obra social, incluyendo la gestión de stock de medicamentos. A su vez, el sistema permitirá generar información para la toma de decisiones sobre los artículos existentes, registrar sus movimientos, ubicación en depósito, listar los consumos por períodos y alertar al usuario por necesidad de reposición y/o vencimiento de medicamentos.	.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>


  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h1 class="font-weight-light display-4">Nuestro Sistema</h1>
          <p class="font-italic text-muted mb-4">Podras llevar el control y organización de todo tu Stock, contando con un inventario detallado de los medicamentos y productos de farmacia que se tienen para la venta, evitando así sobrestock y desabastecimientos.  </p>
          <p class="font-italic text-muted mb-4">  Cada Vendedor podrá consultar en forma Online la disponibilidad inmediata de un medicamento. </p>
          <p class="font-italic text-muted mb-4">  Mediante el proceso de ventas digitales se reducirán demoras, ya que el Área de Despacho podrá controlar y preparar el pedido de un cliente en el preciso momento que se registra la orden de despacho, sin tener que esperar ningún papel impreso físicamente. </p>
          <p class="font-italic text-muted mb-4">  Con esta solución se podrá acceder a una base completa de clientes, por lo que permitirá conocer a fondo los usuarios y sus necesidades de compra.</p>
        </div>
      </div>
  </div>